<style>
  
  .content {
    padding: 10px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border-collapse: collapse;
    border: 1px solid #000000;
    padding: 10px;
  }

  th {
    background: #e143b0;
    color: #4d0707;
  }

  td {
    background: black;
    color: #000000;
  }

  @media (max-width: 780px) {
    thead {
      display: none;
    }

    .table,
    tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }

    tr {
      margin-bottom: 20px;
    }

    td::before {
      content: attr(data-label);
      color: #4d0707;
      font-weight: bold;
    }

    td {
      padding: 0;
      padding-left: 30%;
      position: relative;
      background: #e143b0;
      color: #ffffff;
    }

    td {
      display: block;
      width: 100%;
      background: #ffffff;
      color: #000000;
    }

  }



  
.footer {
  background-color: #282c34;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

</style>


<div style="background-color: #d2c9ff; min-height: 40rem;" class="content">
  <table style="background-color: white;" id="myTable" class="table">
    <thead style="background-color: #0d6efd;">
      <tr>
        <th style="color: white;">No</th>
        <th style="color: white;">Date</th>
        <th style="color: white;">Address</th>
        <th style="color: white;">Mobile</th>
        <th style="color: white;">Amount</th>
        <th style="color: white;">Payment</th>
        <th style="color: white;">Status</th>
        <th style="color: white;">Products</th>
        <th style="color: white;">Cancel</th>

      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td data-label="No    ">1</td>
        <td data-label="Date    " class="suii">{{this.date}}</td>
        <td data-label="Address   ">{{this.deliveryDetails.address}}</td>
        <td data-label="Mobile    ">{{this.deliveryDetails.mobile}}</td>
        <td data-label="Amount    ">Rs. {{this.totalamount}}</td>
        <td data-label="Payment   ">{{this.paymentMethod}}</td>
        <td data-label="Status    ">{{this.status}}</td>
        <td data-label="Ordered Products  "><a class="btn btn-primary" href="/view-order-products/{{this._id}}">View Products</a></td>
        <td data-label="Cancel    "><a data-bs-toggle="modal" data-bs-target="#ModelBlock{{this._id}}" class="btn btn-danger ">Cancel</a>



          <div class="modal fade" id="ModelBlock{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure
                    you waant to cancel this order ?
                  </h5>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <a href="/cancel-order/{{this._id}}" type="button"
                    class="btn btn-danger">Cancel Order</a>
                </div>
              </div>
            </div>
          </div></td>
        
        
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>




<footer class="footer">
  <div style="background-color: transparent;" class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span> About the company</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt,
      ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
    </p>
    <div class="icons">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
      <a href="#"><i class="bi bi-google"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="bi bi-geo-alt-fill"></i>
      <p><span> F4FASHION Tagore Nagar</span> Vazhuthacadu, Trivandrum</p>
    </div>
    <div>
      <i class="bi bi-telephone-fill"></i>
      <p> (+91) 7356 373 621</p>
    </div>
    <div>
      <i class="bi bi-envelope-fill"></i>
      <p><a href="#"> f4fashion@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2> Company<span> logo</span></h2>
    <p class="menu">
      <a href="#"> Home</a> |
      <a href="#"> About</a> |
      <a href="#"> Services</a> |
      <a href="#"> Portfolio</a> |
      <a href="#"> News</a> |
      <a href="#"> Contact</a>
    </p>
    <p class="name"> Company Name &copy; 2016</p>
  </div>
</footer>


























{{!-- 
<div class="container-fluid">
  <table class="table table-striped mt-4">
    <thead>
      <tr style="text-align: center;">
        <th scope="col">No.</th>
        <th scope="col">Date</th>
        <th scope="col">Address</th>
        <th scope="col">Mobile</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr style="text-align: center;">
        <th scope="row">1</th>
        <td>{{this.date}}</td>
        <td>{{this.deliveryDetails.address}}</td>
        <td>{{this.deliveryDetails.mobile}}</td>
        <td>{{this.totalamount}}</td>
        <td>{{this.paymentMethod}}</td>
        <td><span>Order </span>{{this.status}}</td>
        <td><a class="btn btn-primary" href="/view-order-products/{{this._id}}">View Products</a></td>


        <td><a data-bs-toggle="modal" data-bs-target="#ModelBlock{{this._id}}" class="btn btn-danger ">Cancel</a>



          <div class="modal fade" id="ModelBlock{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure
                    you waant to cancel this order ?
                  </h5>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <a href="/cancel-order/{{this._id}}" type="button"
                    class="btn btn-danger">Cancel Order</a>
                </div>
              </div>
            </div>
          </div>
        </td> --}}
        {{!-- <td><a class="btn btn-danger" href="/cancel-order/{{this._id}}">Cancel</a></td> --}}
      {{!-- </tr>
      {{/each}}
    </tbody>
  </table>
</div> --}}